<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Feedback</title>
</head>

<body>
  <div class="container">
    <div class="center">
      <h1>Feedback</h1>
      <form action="/feedbackForm/">
        <div class="txt_field">
          <textarea name="message" cols="30" rows="10"></textarea>
          <label>Message</label>
        </div>
        
        <div class="btn_field">
          <input type="submit" name="submit" value="submit">
        </div>
      </form>
    </div>
  </div>
</body>

</html>
