<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <form action="/forgetAction/">
        <table>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email" required>
                </td>
            </tr>

            <tr>
                <td>Phone</td>
                <td>
                    <input type="tel" name="phone" required>
                </td>
            </tr>

            {% for i in result2 %}
            <tr>
                <td>
                    Password is {{i.password}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" value="reset">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>